a {
	color: #0088ff;
}

a.discreet {
   color: #000000;
}

#content {
	font-family: "Chaparral Pro", "Merriweather", serif;
	padding: 50px 50px 0 50px;
	max-width: 450px;
	min-width: 280px;
}

#content > header {
	margin: 0 0 50px 0;
}

#content > header h1 {
	font-weight: 700;
	font-size: 24px;
	margin: 0;
}

#content > header h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 0;
}

section {
	font-size: 18px;
	padding: 0 0 50px 0;
}

section h1 {
	font-style: italic;
	font-weight: 100;
	font-size: 24px;
	margin: 0 0 2px 0;
}

section p {
	margin: 0 0 3px 0;
}

section ul {
	margin: 0;
	padding: 0;
}

section ul:before {
	content: "(";
}

section ul:after {
	content: ")";
}

section ul li {
	display: inline;
	white-space: nowrap;
}

section ul li:before {
	margin: 0 -1px 0 -1px;
	content: "| ";
}

section ul li:nth-child(1):before {
	margin: 0;
	content: "";
}

#widget {
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	overflow: visible;
	max-height: 700px;
}

/* Hide the D3 widget altogether on small screens */
@media (max-width: 1000px) {
	#widget {
		display: none;
	}
	
	#content {
		padding: 10px 10px 0 10px;
	}
	
	#content > header {
		margin: 0 0 30px 0;
	}
	
	section {
		font-size: 16px;
		padding: 0 0 30px 0;
	}
}

.node {
  cursor: pointer;
  stroke: black;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
